body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Arial;

  }
.title {
    color: rgb(255, 0, 0);
    text-align: justify;
    font-family: sans-serif;
    
}
.viewBuilding {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: sans-serif;

    
}
.tab { 
    margin-left: 40px; 
}
.center {
    text-align: center;
}
